/* font url  */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');
/* icon font url */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

/* Estrutura CSS */

:root{
    --color-primary:#2193b0;
    --font-primary:"Baloo Da 2";
    --font-secundary: "Josefin Slab";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}



/* Tela principal */

/* Caixa menu (hamburguer) */

.hamburguer{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 500ms;
}

.show-menu .hamburguer{
    right: 15rem;
}

.line{
    width: 100%;
    height: .1rem ;
    background-color: white;
    box-shadow: .1rem .1rem 2px;
}
/* Header */

header{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    height: 100vh;
    width: 100%;
    background-color: black;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    animation: zoom 50s infinite;
}

.banner{
    position: absolute;
    top: 30%;
    left: 12%;   
    color: white;
   
}

.banner h1{
    font-family:"Baloo Da 2", serif ;
    font-weight: 300;
    font-size: 3.5rem;
    line-height: 1;
    margin-bottom: 2rem;
    text-shadow: .3rem .4rem 6px black;
    animation: moveBanner 1s 0.5s  forwards;
    opacity: 0;

}

.banner p{
    font-family:"Josefin Slab", serif ;
    font-size: 3rem;
    margin-bottom: 2rem;
    text-shadow: .3rem .4rem 6px black;
    animation: moveBanner 1s 0.7s  forwards;
    opacity: 0;
}

.banner button{
    padding: 10px 40px;
    background: #2193b0;  
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  
    background: linear-gradient(to right, #6dd5ed, #2193b0); 
    border: none;
    color: white;
    font-family: "Baloo Da 2", serif;
    letter-spacing: .1rem   ;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;    
    animation: moveBanner 1s 0.9s forwards;
    opacity: 0;
    transition: all 500ms;
}

.banner button:hover{
    color: rgba(0, 0, 0, 0.63);
}

/* Menu */

.sidebar{
    height: 100vh;
    width: 20rem;
    background-color: white ;
    position: fixed;
    top: 0;
    right: -20rem;
    z-index: 12;
    transition: all 500ms;
}

.show-menu .sidebar{
    right: 0;
}



.menu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.menu ul a{
    color: black;
    font-size: 1.8rem;
    line-height: 2;
    transition: all 500ms;
}

.menu ul a:hover{
    color: var(--color-primary);
}

.social-itens{
    position: absolute;
    width: 100%;
    bottom: 12%;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    color: white;
}

.social-itens i{
    background-color: rgba(0, 0, 0, .8);
    padding: .2rem  ;
    border-radius: 5px;
    cursor: pointer;
    transition: all 500ms;
}

.social-itens i:hover{
    background-color: var(--color-primary);
   
}

.social-itens a{
    color: white;
}


/* Conhecimento */

.sessao-conhecimento{
    background-color: #f5f5f5;
    width: 100%;
    
}

.header-sessao{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.header-sessao h1{
    border-bottom: 3px solid var(--color-primary);
    margin-top: 1rem;
    font-size: 3rem;
    font-family: var(--font-primary);
    font-weight: 500;
    margin-bottom: 6rem;
}

.conhecimentos{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 4rem);
    grid-gap: 2.5rem;
    padding-bottom: 4rem;
}

.conhecimento:nth-child(1){
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(2){
    grid-column: 3 / 6;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(3){
    grid-column: 4 / 7;
    grid-row: 5 / -1;
}

.conhecimento:nth-child(4){
    grid-column: 11 / 14;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(5){
    grid-column: 12 / 15;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(6){
    grid-column: 11 / 14;
    grid-row: 5 / -1;
}

.conhecimento-header{
    display: flex;
    align-items: center;
}

.conhecimento-header i{
    font-size: 2.5rem;
}

.conhecimento-header h3{

    font-size: 1.9rem;
    font-family: var(--font-secundary);
    padding-left: 1rem;
}

.conhecimento-text{
    margin-top: 1.5rem;
}

.imagem-wrapper{
    grid-column: 7/10;
    grid-row: 2/4;
    width: 100%;
}

.imagem-wrapper img{
    object-fit: cover;
    width: 100%;
    user-select: none;
}

/* ============PROJETOS=========== */

.sessao-projetos{
    width: 100%;
    background-color: #f5f5f52d;
    border-top: 1px solid rgb(224, 224, 224);
    margin-bottom: 5rem;
}

.projetos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    width: 16rem;
    height: 25rem;
    position: relative;
    overflow: hidden;
}

.card-img-wrapper{
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: .6rem;

}

.card-img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: .8;
    border-radius: .6rem;
    transition: opacity .3s;
}

.card:hover .card-img-wrapper img{
    opacity: .5;
}

.card-info{
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    padding: 2rem;
    transition: all .3s;
    background-color: rgba(0, 0, 0, 0.185);
    color: white;
    text-shadow: .1rem .1rem 1px rgba(0, 0, 0, 0.253);
    
}

.card-info h2{
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #eee;
}

.card-info h3{
    font-family: var(--font-secundary);
    font-size: 1.5rem;
    font-weight: 700;
    color: #ff6767;
    line-height: 1.7;
    text-shadow: .0 .1rem 3px rgb(255, 255, 255);

}

.card-info p{
    font-family: var(--font-secundary);
    font-weight: 400;
    line-height: 1.2;
}

.card-info button{
    width: 8rem;
    height: 2rem;
    background: #2193b0;  
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  
    background: linear-gradient(to right, #6dd5ed, #2193b0); 
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: .5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: white;
    margin-top: 2rem;
}


.card:hover .card-info{
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}

/* ============Contato=========== */


.sessao-contato{
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessao-contato .container-contato {
    width: 60%;
    height: 80vh;
    border: 1px solid black;
    display: flex;
}

.sessao-contato .container-contato .container-left{
    width: 35%;
    height: 100%;
    border: 1px solid white;
    background-image: url('imagens/proj2.jpg');
    background-size: cover;
    background-position: center;
    opacity: .8;
    background-image: linear-gradient(180deg, black, yellow)}

.sessao-contato .container-contato .container-right{
    width: 65%;
    height: 100%;
    border: 1px solid green;

}





/* Scrollbar */

::-webkit-scrollbar{
    background-color: rgb(138, 138, 138);
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;

}

/* Animation */

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
}



@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
        opacity: 0;
       
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}


@media screen and (max-width:700px){
    .conhecimentos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 4rem);
        grid-gap: 5rem;
        padding-bottom: 4rem;
    }
    
    .conhecimento:nth-child(1){
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    
    .conhecimento:nth-child(2){
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    
    .conhecimento:nth-child(3){
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
    
    .conhecimento:nth-child(4){
        grid-column: 3 / 4;
        grid-row: 4 / 5;
    }
    
    .conhecimento:nth-child(5){
        grid-column: 3 / 4;
        grid-row: 5 / 6;
    }
    
    .conhecimento:nth-child(6){
        grid-column: 3 / 4;
        grid-row: 6 / 7;
    }
    .imagem-wrapper{
        grid-column: 3/4;
        grid-row: 7 / 8;
        width: 100%;
    }
    
    .imagem-wrapper img{
        object-fit: cover;
        width: 100%;
        user-select: none;
    }

    /* Projetos */


    .card{
        margin: 2rem;
    }

}

