/* font url  */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
/* icon font url */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

/* Estrutura CSS */

:root {
    --color-primary: #f9004d;
    --color-secunday: #eee;
    --font-primary: "Roboto";
    --font-secundary: "Josefin Slab";
    --background-color-primary: rgb(43, 43, 43);
    --background-color-secundary: rgb(20, 20, 20);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

*::after, *::before{
    box-sizing: border-box;
}

body {
    overflow: overlay;
}

html {
    scroll-behavior: smooth;
}

.container {
    background-color: var(--background-color-primary);

}


/* Menu principal */

.menu-principal {
    width: 100%;
    position: fixed;
    color: white;
    z-index: 7;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
    animation: opacityMenu 1s 1s forwards;
    opacity: 0;
}

.btn{
    color: rgba(238, 238, 238, 0.616);
    font-family: var(--font-primary);
    padding: .7rem 1.6rem;
    font-size: 1.4rem;
    position: relative;
}

.btn.btn-borda-embaixo{
    transition: color .3s ease-in-out;
}

.btn.btn-borda-embaixo::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--color-primary);
    transform: scale(0);
    transition: transform .3s ease-in-out;
}
.btn.btn-borda-embaixo:hover,
.btn.btn-borda-embaixo:focus{
    color: var(--color-secunday);
}



.btn.btn-borda-embaixo:hover::before,
.btn.btn-borda-embaixo:focus::before{
    transform: scale(1);
}



/* Caixa menu (hamburguer) */

.container-menu {
    display: none;
}

.hamburguer {
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 500ms;
}

.show-menu .hamburguer {
    right: 16rem;
}

.show-menu .line:nth-child(1) {
    transform: rotate(45deg);
    transition: all 500ms;
    position: relative;
    top: 3px;
    width: 1.5rem;
    box-shadow: none;
    background-color: black;
}

.show-menu .line:nth-child(2) {
    position: relative;
    transform: rotate(-45deg);
    transition: all 500ms;
    top: -8px;
    width: 1.5rem;
    box-shadow: none;
    background-color: black;
}

.line {
    width: 100%;
    height: .1rem;
    background-color: white;
    box-shadow: .1rem .1rem 2px;
}



/* Menu Sidebar*/

.sidebar {
    height: 100vh;
    width: 20.3rem;
    background-color: white;
    position: fixed;
    top: 0;
    right: -20.3rem;
    z-index: 12;
    transition: all 500ms;
}

.show-menu .sidebar {
    right: 0;
}

.menu ul a li {
    font-size: 2rem;
}


.social-itens a {
    font-size: 3rem;
}

.menu {
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);

}

.menu ul a {
    color: black;
    font-family: var(--font-primary);
    font-size: 1.8rem;
    line-height: 1.9;
    transition: all 500ms;
}

.menu ul a:hover {
    color: var(--color-primary);
}

.social-itens {
    position: absolute;
    width: 100%;
    bottom: 12%;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.social-itens i {
    background-color: rgba(0, 0, 0, .8);
    padding: .2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 500ms;
    font-size: 2rem;
}

.social-itens i:hover {
    background-color: var(--color-primary);

}

.social-itens a {
    color: white;
}



/* Header */

header {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.img-wrapper {
    height: 100vh;
    width: 100%;
    background-color: black;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    animation: zoom 50s infinite;
}

.banner {
    position: absolute;
    top: 30%;
    left: 12%;
    color: white;

}

.banner h1 {
    font-family: "Baloo Da 2", serif;
    font-weight: 300;
    font-size: 3.5rem;
    line-height: 1;
    margin-bottom: 2rem;
    text-shadow: .3rem .4rem 6px black;
    animation: moveBanner 1s 0.5s forwards;
    opacity: 0;
}

.banner span {
    color: var(--color-primary);
}

.banner p {
    font-family: "Josefin Slab", serif;
    font-size: 3rem;
    margin-bottom: 2rem;
    text-shadow: .3rem .4rem 6px black;
    animation: moveBanner 1s 0.7s forwards;
    opacity: 0;
}

.banner button {
    padding: 10px 40px;
    background: var(--color-primary);
    border: none;
    color: white;
    font-family: "Baloo Da 2", serif;
    letter-spacing: .1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    animation: moveBanner 1s 0.9s forwards;
    opacity: 0;
    transition: all 300ms ease;
}

.banner button:hover {
    border: 1px solid var(--color-primary);
    background-color: transparent;
}

/* Sobre */

.sessao-sobre {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color-primary);
}

.content-about {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-about .img-wrapper-about {
    width: 330px;
    height: 100%;
    height: 500px;
    border-radius: .5rem;
    overflow: hidden;
}

.content-about .img-wrapper-about img {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.content-about .text-about {
    width: 60%;
    color: white;
    font-family: var(--font-primary);

}

.content-about .text-about h2 {
    font-size: 2.5rem;
}

.content-about .text-about h3 {
    padding: .6rem 0 2rem 0;
}

.content-about .text-about span {
    color: var(--color-primary);
}

.content-about .text-about p {
    line-height: 1.7;
}

/* Conhecimento */

.sessao-conhecimento {
    width: 100%;
    background-color: var(--background-color-secundary);
}

.header-sessao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

.header-sessao h1 {
    margin-top: 1rem;
    font-size: 3rem;
    font-family: var(--font-primary);
    font-weight: 500;
    margin-bottom: 6rem;
    color: var(--color-secunday);
}

.conhecimento-header i {
    color: var(--color-primary);
}

.conhecimento-header h3 {
    color: var(--color-secunday);
}

.conhecimentos {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 4rem);
    grid-gap: 2.5rem;
    padding-bottom: 4rem;
}

.conhecimento:nth-child(1) {
    grid-column: 4 / 7;
    grid-row: 1 / 2;
}

.conhecimento:nth-child(2) {
    grid-column: 4 / 7;
    grid-row: 2 / 4;
}

.conhecimento:nth-child(3) {
    grid-column: 4 / 7;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(4) {
    grid-column: 4 / 7;
    grid-row: 4 / 6;
}

.conhecimento:nth-child(5) {
    grid-column: 4 / 7;
    grid-row: 5 / 7;
}

.conhecimento:nth-child(6) {
    grid-column: 4 / 7;
    grid-row: 6 / 8;
}

.conhecimento-header {
    display: flex;
    align-items: center;
}

.conhecimento-header i {
    font-size: 2.5rem;
}

.conhecimento-header h3 {

    font-size: 1.9rem;
    font-family: var(--font-secundary);
    padding-left: 1rem;
}

.conhecimento-text {
    margin-top: 1.5rem;
}



/* ============PROJETOS=========== */

.sessao-projetos {
    width: 50%;
    height: 100vh;
    margin: auto auto;
    margin-bottom: 5rem;

}

.projetos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

.card {
    width: 16rem;
    height: 25rem;
    position: relative;
    overflow: hidden;
    min-width: 14rem;
}

.card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: .6rem;

}

.card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: .8;
    border-radius: .6rem;
    transition: opacity .3s;
}

.card:hover .card-img-wrapper img {
    opacity: .2;
}

.card-info {
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    padding: 2rem;
    transition: all .3s;
    background-color: rgba(0, 0, 0, 0.185);
    color: white;
    text-shadow: .1rem .1rem 1px rgba(0, 0, 0, 0.253);
}

.card-info h2 {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #eee;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.card-info h3 {
    font-family: var(--font-secundary);
    font-size: 1.5rem;
    font-weight: 700;
    color: #ff6767;
    line-height: 1.7;
    text-shadow: 0 .1rem 6px rgb(255, 255, 255);

}

.card-info p {
    font-family: var(--font-secundary);
    font-weight: 400;
    line-height: 1.2;
}

.card-info button {
    width: 8rem;
    height: 2rem;
    background: #2193b0;
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: .5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: white;
    margin-top: 2rem;
}


.card:hover .card-info {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}

/* ============Contato=========== */


.sessao-contato {
    width: 100%;
    padding-bottom: 3rem;
    background-color: var(--background-color-secundary);
}

.cards-contatos {
    width: 50%;
    margin: auto auto;
    margin-bottom: 16rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

.cards-contatos .card-cont {
    width: 15rem;
    min-width: 12rem;
    height: 16rem;
    border-radius: .8rem;
    background-color: rgba(68, 68, 68, 0.712);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cards-contatos .card-cont:hover {
    transform: scale(1.07);
    background-color: rgba(68, 68, 68, 0.185);
}

.cards-contatos .card-cont .icon-edit {
    color: white;
    opacity: .7;
    font-size: 6rem;
    text-align: center;
}

.cards-contatos .card-cont:hover .icon-edit {
    opacity: 1;
}

.cards-contatos .card-cont p {
    font-family: var(--font-primary);
    font-size: 1.4rem;
    color: white;
    opacity: .7;
}

.cards-contatos .card-cont:hover p {
    opacity: 1;
}


/* Rodapé */

footer {
    text-align: center;
    height: 2rem;
    padding: 1rem 0 2rem 0;
    background-image: radial-gradient(circle at 46.88% 14.36%, #04809c 0, #3cb5f2 50%, #0094e6 75%, #0076db 100%);
    color: white;
}



/*============== Scrollbar ============== */

::-webkit-scrollbar {
    background: transparent;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(63, 62, 62, 0.8);
    border-radius: 20px;

}

/* ============== Animation ============== */

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
    }
}



@keyframes moveBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);
        opacity: 0;

    }

    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

@keyframes opacityMenu{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/* ============== MEDIA SCREEN RESPONSIVE ============== */

@media screen and (max-width:768px) {

    /* Menu */

    .sidebar {
        width: 100%;
        background-color: white;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 12;
        transition: all 500ms;
    }


    .show-menu .sidebar {
        right: 0;
    }

    .menu ul a li {
        font-size: 2rem;
        line-height: 2.2;
    }


    .social-itens a {
        font-size: 2.6rem;
    }

    .show-menu .hamburguer {
        right: 80%;
    }

    .menu ul {
        position: relative;
    }



    /* Banner */

    .banner h1 {
        font-size: 2.5rem;
    }



    /* Conhecimentos */

    .conhecimentos {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(10, 4rem);
    }

    .conhecimento:nth-child(1) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .conhecimento:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .conhecimento:nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    .conhecimento:nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    .conhecimento:nth-child(5) {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }


    .imagem-wrapper {
        grid-column: 2 / 3;
        grid-row: 6 / 7;
        width: 100%;
    }


    .sessao-projetos {
        height: auto;
    }

    /* Projetos */


    .card {
        margin: 2rem;
    }




}

@media (max-width: 1664px) {


    .sessao-projetos {
        height: auto;
    }

}

@media (max-width: 900px) {
    /* Menu barra */

    .container-menu {
        display: block;
    }

    .menu-principal{
        display: none;
    }

}